<section ng-controller="StationsController" ng-init="findStations()">
  <div class="page-header">
    <h1>Станции</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="station in stations" ui-sref="stations.view({stationId: station._id})" class="list-group-item">
      <small class="list-group-item-text">
        <h4>{{station.name}} - Количество путей: {{station.railroads}}
          <a class="glyphicon glyphicon-remove pull-right" data-ng-click="removeStation(station)"></a>
        </h4>
      </small>
    </div>
  </div>

  <form name="stationForm" class="form-horizontal" ng-submit="createStation(stationForm.$valid)" novalidate>
    <fieldset>
      <div class="form-group" show-errors>
        <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Название станции" required>
      </div>
      <div class="form-group" show-errors>
        <input name="railroads" type="number" ng-model="railroads" id="railroads" class="form-control" placeholder="Количество путей" required>
      </div>
      <div class="form-group">
        <input type="submit" ng-show="false"/>
      </div>
      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>
    </fieldset>
  </form>

</section>
