<section ng-controller="StationsController" ng-init="findDistances()">
  <div class="page-header">
    <h1>Перегоны</h1>
  </div>
  <table class="table table-striped" align="middle">

    <tr>
      <td align="middle">Длина, км</td>
      <td align="middle" ng-repeat="station in stations">{{station.name}}</td>
    </tr>

    <tr ng-repeat="station in stations">
      <td align="middle">{{station.name}}</td>
      <td align="middle" ng-repeat="nestedStation in stations">
        <input ng-if="station._id !== nestedStation._id" name="distance" type="number" align="center" id="distance"
               ng-keyup="createOrUpdateDistance($event, station, nestedStation)" class="form-control" value='{{getDistanceValue(station, nestedStation)}}' required />
      </td>
    </tr>
  </table>

</section>
