<section ng-controller="HomeController" ng-init="init()">
  <div class="jumbotron text-center" ng-hide="authentication.user">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/railway.svg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Рабочее место железнодорожного диспетчера
      </p>
    </div>
  </div>
  <div class="jumbotron" ng-show="authentication.user">
    <div class="panel panel-success" ng-repeat="route in routes">
      <div class="panel-heading">{{route.stations[0].name}} - {{route.stations[route.stations.length - 1].name}}</div>
      <div class="panel-body" ng-init="evaluateStations(route)">
        <div ng-repeat="station in route.evaluatedStations">
          {{station.time | date:'dd/MM/yyyy HH:mm'}} - <b>{{station.name}}</b> ({{station.railroads}} путей)
        </div>
      </div>
    </div>
  </div>
</section>
