<section data-ng-controller="RoutesController" data-ng-init="prepare()">
  <div class="page-header">
    <h1>Новое сообщение</h1>
  </div>
  <div class="col-md-12">
    <form name="routeForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <div class="form-group">
        <label class="control-label" for="departure">Время отправления</label>
        <input type="datetime-local" name="departure" ng-model="departure" />
      </div>
      <div class="form-group">
        <label class="control-label" for="stations">Станции</label>
        <ui-select multiple ng-model="$parent.stations" style="width: 800px;">
          <ui-select-match placeholder="Станции...">{{$item.name}} ({{$item.railroads}} путей)</ui-select-match>
          <ui-select-choices repeat="station in stationValues">
            <div ng-bind-html="station.name | highlight: $select.search"></div>
            <small>
              Количество путей: {{station.railroads}}
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
      <fieldset>
        <div class="form-group" align="right">
          <input type="submit" class="btn btn-success" value="Сохранить">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
  </div>
    </form>
  </div>
</section>
