<section ng-controller="RoutesController" ng-init="find()">
  <div class="page-header">
    <h1>Сообщения</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="route in routes" ui-sref="routes.view({routeId: route._id})" class="list-group-item">
      <small class="list-group-item-text">
        <h4>{{route.stations[0].name}} - {{route.stations[route.stations.length - 1].name}}
          <br />
          <small>
            Отправление: {{route.departure | date:'medium'}}
          </small>
          <a class="glyphicon glyphicon-remove pull-right" data-ng-click="remove(route)"></a>
        </h4>
      </small>
    </div>
  </div>
  <div align="right">
    <a class="btn btn-default btn-lg" href="/routes/create" align="right">Добавить сообщение</a>
  </div>
</section>
